*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
@keyframes fade{
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.banner{
    width: auto;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("ps.jpg");
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    cursor: pointer;
    
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;

}
.navbar ul li::after{
    color: '';
    height: 3px;
    width: 100%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.navbar a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
.navbar a:hover {
    background-color: rgb(255, 255, 255);
    color: black;


}
.content div {
    width: 100%;
    position: absolute;
    top: 10%;
    transform: translateY(-30);
    text-align: center;
    color: #fff;
    font-family: Impact;
    
}


.content {
    color: #fff;
    float:right;
}
.content h1{
    animation-name: fade;
    animation-duration: 3s;
}
.content p {
    animation-name: fade;
    animation-duration: 8s;
}

.content img{
    display: flex;
    float: inherit;
}

.content img {
    float: right; 
    margin-top: 50;   
     margin-right: 55%;
     animation-name: fade;
     animation-duration: 3s;
    }